<div class="container p-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <div class="form-group">
                    <p>Informacion del sistema: Test: Ing. Andrés Portillo</p>
                </div>
                <div class="form-group">
                    <p>Implementacion de la API como lo idicado</p>
                </div>
                <div class="form-group">
                    <p>Librerias Implementadas</p>
                </div>
                <div class="form-group">
                    <p>NGRX y RXJS implementados mediante un console.log donde uno
                        es un Contador por la veces Click de Buscar Localizacion y 
                        otro donde son 2 observables con next y com plete
                    </p>
                </div>
                <div class="form-group">
                    <p>Implementacion de Features Module</p>
                </div>
                <div class="form-group">
                    <h4>Tiempo de entrega: <p>Viernes 15/11/2019</p></h4>
                </div>
                <div class="form-group">
                    <p>Entrevista Realizada el 12/11/2019</p>
                </div>
            </div>
        </div>
    </div>
</div>
